/* structure */
.Reports #content .wrap.twocolumns .leftcolumn.narrow	{ width:200px; }
.Reports #content .wrap.twocolumns .rightcolumn.wide 	{ width:990px; }

/* Reports */
h2.reports { background:#666; color:#fff; border:1px solid #999; border-left:none; }
			
.leftcolumn .reportsgroup h4 { padding-right:35px; }				
.rightcolumn .curvybox.report h3 { font-family:Georgia,Constantia,Lucida,Times,serif; }
.rightcolumn .curvybox.report h4 { font-family:Georgia,Constantia,Lucida,Times,serif; }

/* reports listed */
.reportsgroup { background: #fafafa url(../../img/_elements/icons/reports/watermark-small.png) top right no-repeat; padding:10px 5px; }
.reportsgroup h4 { color:#333; }
.reportsgroup ul { list-style-type:none; padding:4px 0 0 0; margin:0; border-top:1px dotted #ccc; }
.reportsgroup ul li { padding-right:8px; }
.reportsgroup ul li a { display:block; height:25px; line-height:25px; background:#fff url(../../img/_elements/icons/reports/report-small.png) left center no-repeat; margin:0 2px 4px 0; padding-left:25px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; overflow: hidden;} 
.reportsgroup ul li a:hover { border-bottom: none; background-color: #3665ff; background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); color:#fff; }
.reportsgroup ul li a:active	{ border-bottom: none; background-color: #315be6; color:#fff; }

/* colour the report icon bases on category */
.reportsgroup ul li a.general { background-image: url(../../img/_elements/icons/reports/report-general.png); }
.reportsgroup ul li a.treatment { background-image: url(../../img/_elements/icons/reports/report-treatment.png);}
.reportsgroup ul li a.communication { background-image: url(../../img/_elements/icons/reports/report-communication.png);}
.reportsgroup ul li a.investigation { background-image: url(../../img/_elements/icons/reports/report-investigation.png);}
.reportsgroup ul li a.outcomes { background-image: url(../../img/_elements/icons/reports/report-outcomes.png);}
.reportsgroup ul li a.nursing { background-image: url(../../img/_elements/icons/reports/report-nursing.png);}
.reportsgroup ul li a.images { background-image: url(../../img/_elements/icons/reports/report-images.png);}
.reportsgroup ul li a.clinical { background-image: url(../../img/_elements/icons/reports/report-clinical.png);}
.reportsgroup ul li a.drugs { background-image: url(../../img/_elements/icons/reports/report-drugs.png);}
.reportsgroup ul li a.misc { background-image: url(../../img/_elements/icons/reports/report-misc.png);}

.reportsgroup ul li a.general:hover 		{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.treatment:hover 		{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.communication:hover 	{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.investigation:hover	{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.outcomes:hover 		{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.images:hover			{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.clinical:hover		{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.drugs:hover			{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }
.reportsgroup ul li a.misc:hover			{ background-image: url(../../img/_elements/icons/reports/report-small-no-bg.png); }


/* report you are viewing in list */
.reportsgroup ul li.active { background:transparent url(../../img/_elements/icons/reports/active-arrow.png) right center no-repeat;}
.reportsgroup ul li .viewing { display:block; height:25px; line-height:25px; color:#333; background:#ccc url(../../img/_elements/icons/reports/report-small-no-bg.png) left center no-repeat; margin:0 2px 4px 0; padding-left:30px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;} 

/* report area */
.report { min-height: 200px; }





