#settings div { display: block; }
#settings span { float: none; }
#settings .label { width: 310px; }
#settings .notset { color: #999; }
#settings input[disabled] { color: #999; }
#settings span[disabled] { color: #999; }

#content .wrap.twocolumns .leftcolumn.narrow { width: 185px; }
#content .wrap.twocolumns .rightcolumn.wide { width: 1000px; }

#settings div.MultiSelectList { display: inline-block; margin-top: 8px; margin-bottom: 6px; }
#settings ul.MultiSelectList { padding: 0; margin: 0; }
#settings ul.MultiSelectList a { border: 0; }
#settings ul.MultiSelectList a[disabled] { color: #999; }
#settings ul[disabled] { color: #999; }

#settings div.StringList { display: inline-block; margin-top: 8px; margin-bottom: 6px; }
#settings ul.StringList { list-style-type: none; padding: 0; margin: 0; }
#settings ul.StringList a { border: 0; }
#settings ul.StringList a[disabled] { color: #999; }
#settings ul[disabled] { color: #999; }
