@charset "UTF-8";
/* line 17, ../sass/_global.scss */
.container.content.docs {
  min-height: 0;
}
/* line 19, ../sass/_global.scss */
.container.content.docs h1, .container.content.docs h2, .container.content.docs h3, .container.content.docs h4, .container.content.docs h5, .container.content.docs h6 {
  font-weight: 500;
}
/* line 22, ../sass/_global.scss */
.container.content.docs pre {
  font-size: .8em;
  margin: 1em 0 1.5em 0;
  width: 99%;
}
/* line 26, ../sass/_global.scss */
.container.content.docs pre.prettyprint {
  border-color: #ddd;
  padding: 2px 5px;
}
/* line 31, ../sass/_global.scss */
.container.content.docs code {
  font-size: 12px;
  color: #555;
}
/* line 35, ../sass/_global.scss */
.container.content.docs hr {
  margin-top: .5em;
}
/* line 38, ../sass/_global.scss */
.container.content.docs .example {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 0 1em 0;
}
/* line 43, ../sass/_global.scss */
.container.content.docs .example > header:first-child {
  margin-bottom: 1em;
}
/* line 47, ../sass/_global.scss */
.container.content.docs .view-markup {
  font-size: 13px;
}
/* line 50, ../sass/_global.scss */
.container.content.docs .complete {
  color: green;
  white-space: nowrap;
}
/* line 54, ../sass/_global.scss */
.container.content.docs .not-complete {
  color: red;
  white-space: nowrap;
}
/* line 58, ../sass/_global.scss */
.container.content.docs .complete:before {
  content: "✓ ";
}
/* line 61, ../sass/_global.scss */
.container.content.docs .not-complete:before {
  content: "✖ ";
}

/* line 19, ../sass/_containers.scss */
.container.main.docs {
  margin-top: 1em;
}

/* line 18, ../sass/_nav.scss */
.container.content.docs .side-nav {
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/_nav.scss */
.container.content.docs .side-nav li a {
  display: inline-block;
}
/* line 25, ../sass/_nav.scss */
.container.content.docs .side-nav li > ul {
  margin-top: .5em;
}

/* line 19, ../sass/_boxes.scss */
.container.content.docs .box.event {
  border: 0;
}
/* line 23, ../sass/_boxes.scss */
.container.content.docs .box.content.docs {
  background: #dae6f1;
  border: 0;
  padding: 1em 0;
  margin: 0;
}
/* line 28, ../sass/_boxes.scss */
.container.content.docs .box.content.docs ul {
  margin-left: 1.5em;
}
/* line 31, ../sass/_boxes.scss */
.container.content.docs .box.content.docs .event {
  background: none;
  width: 83.33333%;
}
/* line 39, ../sass/_boxes.scss */
.container.content.docs .box.generic.docs:last-child {
  margin: 0;
}
/* line 42, ../sass/_boxes.scss */
.container.content.docs .box.generic.docs .side-nav {
  margin: 0;
}
/* line 45, ../sass/_boxes.scss */
.container.content.docs .box.generic.docs .side-nav li:last-child {
  margin: 0;
}

/* line 18, ../sass/_static-templates.scss */
.container.content.docs table.static-templates {
  background: #fff;
}
/* line 20, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr td {
  border-top: 1px solid #ddd;
}
/* line 23, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr:nth-of-type(even) {
  background: #fff;
}
/* line 27, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr.heading h3,
.container.content.docs table.static-templates tr.heading h4 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
/* line 33, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr.heading h4 {
  color: #666;
}

/* line 18, ../sass/_jsdoc.scss */
.jsdoc .side-nav {
  padding: 0;
}
/* line 21, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-header {
  padding: 5px 0;
}
/* line 23, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-header h4 {
  float: left;
  margin: 0 1em 0 0;
  line-height: 1.4;
}
/* line 28, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-header .panel {
  padding: .2em .5em;
  margin: .5em 0;
}
/* line 33, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-list {
  margin-left: 0;
}
/* line 35, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-list li {
  margin-left: 0;
  margin-right: 1em;
}

/* line 17, ../sass/_kss.scss */
.kss-footer {
  background-image: none;
}

/* line 21, ../sass/_kss.scss */
.kss-side-nav {
  padding: .5em;
}

/* line 25, ../sass/_kss.scss */
.kss-title {
  margin-top: 0;
}

/* line 29, ../sass/_kss.scss */
.kss-sub-head {
  font-size: 1.1em;
}

/* line 38, ../sass/_kss.scss */
.kss-overview h1,
.kss-overview h2,
.kss-overview h3,
.kss-overview h4,
.kss-overview h5,
.kss-overview h6 {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: .4em;
}

/* line 44, ../sass/_kss.scss */
.kss-overview li p {
  margin: 0;
  font-size: 1em;
}

/* line 49, ../sass/_kss.scss */
.kss-overview pre {
  margin: 1em 0;
}

/* line 53, ../sass/_kss.scss */
.kss-mod-list {
  background: #fff;
  margin-bottom: 1em;
}

/* line 58, ../sass/_kss.scss */
.kss-mod-description {
  padding-top: 1em;
}

/* line 62, ../sass/_kss.scss */
.kss-mod {
  border: solid 1px #dddddd;
  padding: 0 1em 1em 1em;
  margin-bottom: 1em;
}

/* line 68, ../sass/_kss.scss */
.kss-mod-name span {
  background: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #eee;
  display: inline-block;
  font-size: .9em;
  padding: .5em 1em;
}

/* line 78, ../sass/_kss.scss */
.kss-mod-overview {
  padding: 0 0 1em 0;
}

/* line 82, ../sass/_kss.scss */
.kss-mod-overview p {
  margin: 0;
}

/* line 86, ../sass/_kss.scss */
.kss-markup {
  background: #fff;
  border: 1px solid #dddddd;
  font-size: .95em;
  padding: .5em;
}

/* line 93, ../sass/_kss.scss */
.kss-depth-1 > h1 {
  font-size: 2.375em;
}

/* line 97, ../sass/_kss.scss */
.kss-depth-2 > h1 {
  font-size: 2.25em;
}

/* line 101, ../sass/_kss.scss */
.kss-depth-3 > h1 {
  font-size: 2.125em;
}

/* line 105, ../sass/_kss.scss */
.kss-depth-4 > h1 {
  font-size: 2em;
}

/* line 109, ../sass/_kss.scss */
.kss-depth-5 > h1 {
  font-size: 1.875em;
}

/* line 113, ../sass/_kss.scss */
.kss-depth-6 > h1 {
  font-size: 1.75em;
}

/* line 117, ../sass/_kss.scss */
code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  color: #333;
  font-weight: normal;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
}

/* line 129, ../sass/_kss.scss */
pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: .85em;
  line-height: 1.1em;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

/* line 139, ../sass/_kss.scss */
pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* line 147, ../sass/_kss.scss */
li {
  margin-left: 1.2em;
}

/******************************************************************
 * Prettify styles (syntax highlighting)
 *****************************************************************/
/* line 20, ../sass/_prettify.scss */
.pln {
  color: black;
}

@media screen {
  /* line 25, ../sass/_prettify.scss */
  .str {
    color: #008800;
  }

  /* line 28, ../sass/_prettify.scss */
  .kwd {
    color: #000088;
  }

  /* line 31, ../sass/_prettify.scss */
  .com {
    color: #880000;
  }

  /* line 34, ../sass/_prettify.scss */
  .typ {
    color: #660066;
  }

  /* line 37, ../sass/_prettify.scss */
  .lit {
    color: #006666;
  }

  /* line 42, ../sass/_prettify.scss */
  .pun,
  .opn,
  .clo {
    color: #666600;
  }

  /* line 45, ../sass/_prettify.scss */
  .tag {
    color: #000088;
  }

  /* line 48, ../sass/_prettify.scss */
  .atn {
    color: #660066;
  }

  /* line 51, ../sass/_prettify.scss */
  .atv {
    color: #008800;
  }

  /* line 55, ../sass/_prettify.scss */
  .dec,
  .var {
    color: #660066;
  }

  /* line 58, ../sass/_prettify.scss */
  .fun {
    color: red;
  }
}
@media print, projection {
  /* line 64, ../sass/_prettify.scss */
  .str {
    color: #006600;
  }

  /* line 67, ../sass/_prettify.scss */
  .kwd {
    color: #006;
    font-weight: 700;
  }

  /* line 71, ../sass/_prettify.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 75, ../sass/_prettify.scss */
  .typ {
    color: #404;
    font-weight: 700;
  }

  /* line 79, ../sass/_prettify.scss */
  .lit {
    color: #004444;
  }

  /* line 84, ../sass/_prettify.scss */
  .pun,
  .opn,
  .clo {
    color: #444400;
  }

  /* line 87, ../sass/_prettify.scss */
  .tag {
    color: #006;
    font-weight: 700;
  }

  /* line 91, ../sass/_prettify.scss */
  .atn {
    color: #440044;
  }

  /* line 94, ../sass/_prettify.scss */
  .atv {
    color: #006600;
  }
}
/* line 99, ../sass/_prettify.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 111, ../sass/_prettify.scss */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

/* line 119, ../sass/_prettify.scss */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eeeeee;
}
