@charset "UTF-8";
/* line 17, ../sass/_global.scss */
.container.content.docs {
  min-height: 0;
}
/* line 19, ../sass/_global.scss */
.container.content.docs h1, .container.content.docs h2, .container.content.docs h3, .container.content.docs h4, .container.content.docs h5, .container.content.docs h6 {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: .4em;
}
/* line 24, ../sass/_global.scss */
.container.content.docs h3, .container.content.docs h4, .container.content.docs h5 {
  border-bottom: 0;
}
/* line 27, ../sass/_global.scss */
.container.content.docs code {
  font-size: 12px;
  color: #555;
}
/* line 31, ../sass/_global.scss */
.container.content.docs hr {
  margin-top: .5em;
}
/* line 34, ../sass/_global.scss */
.container.content.docs li p {
  margin: 0;
  font-size: 1em;
}
/* line 38, ../sass/_global.scss */
.container.content.docs code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
  color: #333;
  font-weight: normal;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
}
/* line 49, ../sass/_global.scss */
.container.content.docs pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: .85em;
  line-height: 1.1em;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 1em 0 1.5em 0;
  width: 100%;
}
/* line 59, ../sass/_global.scss */
.container.content.docs pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
/* line 66, ../sass/_global.scss */
.container.content.docs pre.prettyprint {
  border-color: #ddd;
  padding: 5px;
}
/* line 71, ../sass/_global.scss */
.container.content.docs li {
  margin-left: 1.2em;
}
/* line 74, ../sass/_global.scss */
.container.content.docs .example {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 0 1em 0;
}
/* line 79, ../sass/_global.scss */
.container.content.docs .example > header:first-child {
  margin-bottom: 1em;
}
/* line 83, ../sass/_global.scss */
.container.content.docs .view-markup {
  font-size: 13px;
}
/* line 86, ../sass/_global.scss */
.container.content.docs .complete {
  color: green;
  white-space: nowrap;
}
/* line 90, ../sass/_global.scss */
.container.content.docs .not-complete {
  color: red;
  white-space: nowrap;
}
/* line 94, ../sass/_global.scss */
.container.content.docs .complete:before {
  content: "✓ ";
}
/* line 97, ../sass/_global.scss */
.container.content.docs .not-complete:before {
  content: "✖ ";
}

/* line 19, ../sass/_containers.scss */
.container.main.docs {
  margin-top: 1em;
}

/* line 18, ../sass/_nav.scss */
.container.content.docs .side-nav {
  margin: 0;
  padding: 0;
}
/* line 21, ../sass/_nav.scss */
.container.content.docs .side-nav li {
  margin: 0;
  padding: .2em 0;
}
/* line 24, ../sass/_nav.scss */
.container.content.docs .side-nav li a {
  display: inline-block;
}
/* line 27, ../sass/_nav.scss */
.container.content.docs .side-nav li > ul {
  margin-top: .5em;
}

/* line 19, ../sass/_boxes.scss */
.container.content.docs .box.event {
  border: 0;
}
/* line 23, ../sass/_boxes.scss */
.container.content.docs .box.content.docs {
  background: #dae6f1;
  border: 0;
  padding: 1em 0;
  margin: 0;
}
/* line 28, ../sass/_boxes.scss */
.container.content.docs .box.content.docs ul {
  margin-left: 1.5em;
}
/* line 31, ../sass/_boxes.scss */
.container.content.docs .box.content.docs .event {
  background: none;
  width: 83.33333%;
}
/* line 39, ../sass/_boxes.scss */
.container.content.docs .box.generic.docs:last-child {
  margin: 0;
}
/* line 42, ../sass/_boxes.scss */
.container.content.docs .box.generic.docs .side-nav {
  margin: 0;
}
/* line 45, ../sass/_boxes.scss */
.container.content.docs .box.generic.docs .side-nav li:last-child {
  margin: 0;
}

/* line 18, ../sass/_static-templates.scss */
.container.content.docs table.static-templates {
  background: #fff;
}
/* line 20, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr td {
  border-top: 1px solid #ddd;
}
/* line 23, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr:nth-of-type(even) {
  background: #fff;
}
/* line 27, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr.heading h3,
.container.content.docs table.static-templates tr.heading h4 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
/* line 33, ../sass/_static-templates.scss */
.container.content.docs table.static-templates tr.heading h4 {
  color: #666;
}

/* line 18, ../sass/_jsdoc.scss */
.jsdoc .side-nav {
  padding: 0;
}
/* line 21, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-header {
  padding: 5px 0;
}
/* line 23, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-header h4 {
  float: left;
  margin: 0 1em 0 0;
  line-height: 1.4;
}
/* line 28, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-header .panel {
  padding: .2em .5em;
  margin: .5em 0;
}
/* line 33, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-list {
  margin-left: 0;
}
/* line 35, ../sass/_jsdoc.scss */
.jsdoc .sub-tutorials-list li {
  margin-left: 0;
  margin-right: 1em;
}

/**********************
 * FIXME
 ***********************/
/* line 46, ../sass/_jsdoc.scss */
.class-description {
  font-style: italic;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 130%;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 55, ../sass/_jsdoc.scss */
section {
  display: block;
}

/* line 59, ../sass/_jsdoc.scss */
ul li, ol li, dl li {
  margin-left: 1.5em;
}

/* line 63, ../sass/_jsdoc.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/* line 67, ../sass/_jsdoc.scss */
.variation {
  display: none;
}

/* line 71, ../sass/_jsdoc.scss */
.optional:after {
  content: "opt";
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

/* line 80, ../sass/_jsdoc.scss */
dl dt {
  margin: 0;
}
/* line 83, ../sass/_jsdoc.scss */
dl dd {
  margin-bottom: 0;
}

/* line 88, ../sass/_jsdoc.scss */
nav {
  display: block;
  float: left;
  margin-left: -230px;
  margin-top: 28px;
  width: 220px;
  border-left: 1px solid #ccc;
  padding-left: 9px;
}
/* line 96, ../sass/_jsdoc.scss */
nav ul {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  font-size: 100%;
  line-height: 17px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 104, ../sass/_jsdoc.scss */
nav h2 a {
  color: #A35A00;
  text-decoration: none;
}
/* line 107, ../sass/_jsdoc.scss */
nav h2 a:visited {
  color: #A35A00;
  text-decoration: none;
}
/* line 112, ../sass/_jsdoc.scss */
nav h3 {
  margin-top: 12px;
}
/* line 115, ../sass/_jsdoc.scss */
nav li {
  margin-top: 6px;
}
/* line 118, ../sass/_jsdoc.scss */
nav a {
  color: #5C5954;
}
/* line 120, ../sass/_jsdoc.scss */
nav a:visited, nav a:active {
  color: #5C5954;
}

/* line 126, ../sass/_jsdoc.scss */
h4 {
  font-size: 13px;
}

/* line 130, ../sass/_jsdoc.scss */
h5, .container-overview .subsection-title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.01em;
  margin: 8px 0 3px 0;
}

/* line 137, ../sass/_jsdoc.scss */
h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

/* line 144, ../sass/_jsdoc.scss */
.ancestors {
  color: #999;
}
/* line 146, ../sass/_jsdoc.scss */
.ancestors a {
  color: #999 !important;
  text-decoration: none;
}

/* line 152, ../sass/_jsdoc.scss */
.important {
  font-weight: bold;
  color: #950B02;
}

/* line 157, ../sass/_jsdoc.scss */
.yes-def {
  text-indent: -1000px;
}

/* line 161, ../sass/_jsdoc.scss */
.type-signature {
  color: #aaa;
}

/* line 165, ../sass/_jsdoc.scss */
.name, .signature {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}

/* line 169, ../sass/_jsdoc.scss */
.details {
  margin-top: 14px;
  border-left: 2px solid #DDD;
}
/* line 172, ../sass/_jsdoc.scss */
.details dt {
  width: 130px;
  float: left;
  padding-left: 10px;
  font-size: 13px;
}
/* line 178, ../sass/_jsdoc.scss */
.details dd {
  margin-left: 50px;
}
/* line 181, ../sass/_jsdoc.scss */
.details ul {
  margin: 0;
  list-style-type: none;
}
/* line 185, ../sass/_jsdoc.scss */
.details li {
  margin-left: 30px;
}
/* line 188, ../sass/_jsdoc.scss */
.details pre.prettyprint {
  margin: 0;
}
/* line 191, ../sass/_jsdoc.scss */
.details .object-value {
  padding-top: 0;
}

/* line 196, ../sass/_jsdoc.scss */
.description {
  margin-bottom: 1em;
  margin-top: .2em;
  font-size: 13px;
}

/* line 202, ../sass/_jsdoc.scss */
code {
  font-size: 13px;
}

/* line 206, ../sass/_jsdoc.scss */
.code-caption {
  font-style: italic;
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 107%;
  margin: 0;
}

/* line 213, ../sass/_jsdoc.scss */
.prettyprint {
  border: 1px solid #ddd;
  width: 80%;
  overflow: auto;
}
/* line 217, ../sass/_jsdoc.scss */
.prettyprint.source {
  width: inherit;
}
/* line 220, ../sass/_jsdoc.scss */
.prettyprint code {
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
  line-height: 18px;
  display: block;
  padding: 4px 12px;
  margin: 0;
  background-color: #fff;
  color: #000;
  border-left: 3px #ddd solid;
}
/* line 229, ../sass/_jsdoc.scss */
.prettyprint code span.line {
  display: inline-block;
}

/* line 235, ../sass/_jsdoc.scss */
.params, .props {
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
}

/* line 241, ../sass/_jsdoc.scss */
.params .name, .props .name, .name code {
  color: #A35A00;
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
  font-size: 13px;
}

/* line 248, ../sass/_jsdoc.scss */
.params td, .params th {
  border: 1px solid #ddd;
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

/* line 259, ../sass/_jsdoc.scss */
.props td, .props th {
  border: 1px solid #ddd;
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 4px 6px;
  display: table-cell;
}

/* line 269, ../sass/_jsdoc.scss */
.params th, .props th {
  border-right: 1px solid #aaa;
}

/* line 273, ../sass/_jsdoc.scss */
.params thead .last, .props thead .last {
  border-right: 1px solid #ddd;
}

/* line 277, ../sass/_jsdoc.scss */
.disabled {
  color: #454545;
}

/* line 281, ../sass/_jsdoc.scss */
.more-info {
  display: none;
}

/* GitHub Theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
/* line 6, ../sass/_prettify.scss */
.pln {
  color: #333333;
}

@media screen {
  /* string content */
  /* line 12, ../sass/_prettify.scss */
  .str {
    color: #dd1144;
  }

  /* a keyword */
  /* line 16, ../sass/_prettify.scss */
  .kwd {
    color: #333333;
  }

  /* a comment */
  /* line 20, ../sass/_prettify.scss */
  .com {
    color: #999988;
  }

  /* a type name */
  /* line 24, ../sass/_prettify.scss */
  .typ, .lit {
    color: #445588;
  }

  /* a literal value */
  /* punctuation */
  /* line 29, ../sass/_prettify.scss */
  .pun, .opn, .clo {
    color: #333333;
  }

  /* lisp open bracket */
  /* lisp close bracket */
  /* a markup tag name */
  /* line 35, ../sass/_prettify.scss */
  .tag {
    color: navy;
  }

  /* a markup attribute name */
  /* line 39, ../sass/_prettify.scss */
  .atn {
    color: teal;
  }

  /* a markup attribute value */
  /* line 43, ../sass/_prettify.scss */
  .atv {
    color: #dd1144;
  }

  /* a declaration */
  /* line 47, ../sass/_prettify.scss */
  .dec {
    color: #333333;
  }

  /* a variable name */
  /* line 51, ../sass/_prettify.scss */
  .var {
    color: teal;
  }

  /* a function name */
  /* line 55, ../sass/_prettify.scss */
  .fun {
    color: #990000;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  /* line 62, ../sass/_prettify.scss */
  .str {
    color: #006600;
  }

  /* line 65, ../sass/_prettify.scss */
  .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 69, ../sass/_prettify.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 73, ../sass/_prettify.scss */
  .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 77, ../sass/_prettify.scss */
  .lit {
    color: #004444;
  }

  /* line 80, ../sass/_prettify.scss */
  .pun, .opn, .clo {
    color: #444400;
  }

  /* line 83, ../sass/_prettify.scss */
  .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 87, ../sass/_prettify.scss */
  .atn {
    color: #440044;
  }

  /* line 90, ../sass/_prettify.scss */
  .atv {
    color: #006600;
  }
}
/* Style */
/* line 97, ../sass/_prettify.scss */
pre.prettyprint {
  background: white;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 108, ../sass/_prettify.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 17, ../sass/_footer.scss */
.footer {
  min-height: 32px;
}
/* line 19, ../sass/_footer.scss */
.footer .info {
  padding-top: .8em;
}

/* line 18, ../sass/_kss.scss */
.container.content.docs .kss-description {
  margin-bottom: 1em;
}
/* line 21, ../sass/_kss.scss */
.container.content.docs .kss-box {
  margin-bottom: 1em;
}
/* line 24, ../sass/_kss.scss */
.container.content.docs .kss-mod-list {
  margin-bottom: 1em;
}
/* line 27, ../sass/_kss.scss */
.container.content.docs .kss-mod-description {
  padding-top: 1em;
}
/* line 30, ../sass/_kss.scss */
.container.content.docs .kss-mod {
  border: solid 1px #dddddd;
  padding: 0 1em 1em 1em;
  margin-bottom: 1em;
  overflow: hidden;
}
/* line 36, ../sass/_kss.scss */
.container.content.docs .kss-mod-name span {
  background: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #eee;
  display: inline-block;
  font-size: .9em;
  padding: .5em 1em;
}
/* line 45, ../sass/_kss.scss */
.container.content.docs .kss-mod-overview {
  padding: 0 0 1em 0;
}
/* line 47, ../sass/_kss.scss */
.container.content.docs .kss-mod-overview p {
  margin: 0;
}
/* line 51, ../sass/_kss.scss */
.container.content.docs .kss-markup {
  font-size: .85em;
}
/* line 54, ../sass/_kss.scss */
.container.content.docs .kss-depth-1 > h1 {
  font-size: 2.375em;
}
/* line 57, ../sass/_kss.scss */
.container.content.docs .kss-depth-2 > h1 {
  font-size: 2.25em;
}
/* line 60, ../sass/_kss.scss */
.container.content.docs .kss-depth-3 > h1 {
  font-size: 2.125em;
}
/* line 63, ../sass/_kss.scss */
.container.content.docs .kss-depth-4 > h1 {
  font-size: 2em;
}
/* line 66, ../sass/_kss.scss */
.container.content.docs .kss-depth-5 > h1 {
  font-size: 1.875em;
}
/* line 69, ../sass/_kss.scss */
.container.content.docs .kss-depth-6 > h1 {
  font-size: 1.75em;
}
